
.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 [inert] {
	opacity: 0.5;
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-reflection > output {
	display: list-item;
	list-style: none;
}

.wpcf7-reflection > output[hidden] {
	display: none;
}

.wedding-title {
	font-family: "Montserrat", sans-serif;
	font-size: 3em;
	color: #f1090f;
	text-align: center;
	margin-top: 20px;
	text-shadow: 2px 2px 4px #000000;
}

#image_268718347 {
	width: 100%;
}

#image_268718347 {
	width: 100%;
	height: auto; /* Ensure the height adjusts automatically */
}

#image_268718347 .img-inner img {
	width: 100%;
	height: auto; /* Ensure the height adjusts automatically */
	object-fit: cover;
}

.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 [inert] {
	opacity: 0.5;
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-reflection > output {
	display: list-item;
	list-style: none;
}

.wpcf7-reflection > output[hidden] {
	display: none;
}

.wedding-title {
	font-family: "Montserrat", sans-serif;
	font-size: 3em;
	color: #f1090f;
	text-align: center;
	margin-top: 20px;
	text-shadow: 2px 2px 4px #000000;
}

#image_268718347 {
	width: 100%;
}

#image_268718347 {
	width: 100%;
	height: auto; /* Ensure the height adjusts automatically */
}

#image_268718347 .img-inner img {
	width: 100%;
	height: auto; /* Ensure the height adjusts automatically */
	object-fit: cover;
}
@font-face {
	font-family: script-font;
	src: url(fonts/SVN-Ginger.otf);
}

@font-face {
	font-family: title-font;
	src: url(fonts/DFVN-Mighty-Wings.otf);
}

@font-face {
	font-family: main-font;
	src: url(fonts/SVN-Gilroy-Medium.otf);
}

:root {
	--max-width: 1024px;
	/* color */
	--primary-color: #72614E;
	--bg: #fdf7ef;
	--second-color: #DCD2C6;
	--text-white: #fff;
	--overlay: black;
	--text-black: ;
	--body-bg: ;
	--main-bg: ;
	--box-bg: ;
	--gap: 30px;
	/* fontsize */
	--fs-1: ;
	--fs-2: 40px;
	--fs-3: 32px;
	--fs-4: ;
	--fs-5: ;
	--fs-6: ;
	--fs-7: ;
	/* font-family bloger*/
	/* --script-font: 'Ephesis', cursive;
    --main-font:'Be Vietnam Pro', sans-serif ;
    --title-font:'Chonburi', serif; */
	/* font-family */
	--script-font: script-font;
	--main-font: main-font;
	--title-font: title-font;
	/* space */
	--space-4: 4px;
	--space-8: 8px;
	--space-12: 12px;
	--space-16: 16px;
	--space-20: 20px;
	--space-24: 24px;
	--space-32: 32px;
	--space-40: 40px;
	--space-54: 54px;
	--space-80: 80px;
	/* section margin and padding */
	--section-margin: 120px;
	--section-padding: 40px;
	/* effect */
	--shadow: ;
}

/* ==== RESER CSS ==== */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */

a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */

ol,
ul,
menu,
summary {
	list-style: none;
}

/* For images to not be able to exceed their container */

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

/* removes spacing between cells in tables */

table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */

input,
textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */

textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* preformatted text - use only for this feature */

:where(pre) {
	all: revert;
	box-sizing: border-box;
}

/* reset default text opacity of input placeholder */

::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */

:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/

:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */

:where([draggable="true"]) {
	-webkit-user-drag: element;
}

/* Revert Modal native behavior */

:where(dialog:modal) {
	all: revert;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* ========= ELEMENT ========== */

.bg_overlay {
	box-shadow: inset 0 0 0 2000px rgba(0 0 0 /.6)
}

.img_bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.social-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	width: 100%;
	gap: 8px;
	margin-top: 12px;
	z-index: 999;
}

.social-link a {
	background-color: var(--primary-color);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-link a i {
	font-size: 16px;
	transition: .3s;
	color: var(--text-white);
}

.social-link a:hover i {
	transform: translateY(-2px);
}

.section-heading {
	display: grid;
	justify-content: center;
	text-align: center;
	justify-items: center;
	padding: 12px;
	max-width: var(--max-width);
	margin: 0 auto;
	position: relative;
	margin-top: 80px;
	margin-bottom: 40px;
}

.section-heading img {
	position: absolute;
	right: 0;
	max-width: 20vw;
}

.section-title {
	font-size: 28px;
	font-family: var(--script-font);
	text-align: center;
}

.group-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--text-white);
	padding: 10px 24px;
	border-radius: 12px;
}

.btn i {
	font-size: 24px;
	transition: .3s;
}

.btn-rouded {
	border-radius: 50%;
	padding: 12px;
}

.btn-pri {
	background-color: var(--text-white);
	color: var(--primary-color);
}

.btn-pri:hover i {
	transform: rotate(360deg);
}

.menu-right {
	background-color: rgba(255, 255, 255, 0.23);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 4px;
}



/* ========= AND ELEMENT ========== */

/* ------------------------------------------------------------------------- */

/* ========= COMPONENT ========== */

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.tracking {
	-webkit-animation: tracking 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.kenburns-top {
	-webkit-animation: kenburns-top 10s ease-out infinite both;
	animation: kenburns-top 10s ease-out infinite both
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top
	}
}

@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top
	}
}

/**
 * ----------------------------------------
 * animation tracking
 * ----------------------------------------
 */

@-webkit-keyframes tracking {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@keyframes tracking {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

.zoom-in {
	-webkit-animation: zoom-in 5s ease-in;
	animation: zoom-in 3s ease-in;
}

@-webkit-keyframes zoom-in {
	0% {
		-webkit-transform: scale(0.4);
		transform: scale(.4);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes zoom-in {
	0% {
		-webkit-transform: scale(0.4);
		transform: scale(.4);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* ========= END COMPONENT ========== */

/* ------------------------------------------------------------------------- */

/* ========= THEMES ========== */

body {
	font-family: var(--main-font);
}

.container {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 20px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--overlay);
	opacity: .6;
	z-index: -1;
}

.blur {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.main-font {
	font-family: var(--main-font);
}

.script-font {
	font-family: var(--script-font);
}

.title-font {
	font-family: var(--title-font);
}

.hidden {
	display: none;
}

.momo {
	background-color: #CF1986 !important;
	color: white !important;
	border-radius: 8px !important;
}

.gift-title {
	font-size: 20px;
	font-family: var(--title-font);
	text-align: center;
	margin-bottom: 24px;
}

.font-script {
	font-family: var(--script-font);
}

.font-title {
	font-family: var(--title-font);
}

.font-main {
	font-family: var(--main-font);
}

/* ========= END THEMES ========== */

/* ------------------------------------------------------------------------- */

/* ====== MAIN CSS ============ */

/* BANNER */

.section-banner {
	background-color: var(--second-color);
}

.banner-container {
	position: relative;
	max-width: 680px;
	padding: 0 20px;
	margin: 0 auto;
	background-color: white;
	z-index: 99;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden !important;
}

.bg-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.bg-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.banner-title {
	font-family: var(--title-font);
	font-size: 28px;
	color: var(--primary-color);
}

.banner-logo {
	width: 35%;
	max-width: 152px;
	border: 1px solid var(--primary-color);
	padding: 32px;
	border-radius: 999px;
	position: relative;
	aspect-ratio: 3/4.5;
}

.logo-img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.groom_letter,
.bride_letter {
	position: absolute;
	background-color: #fff;
	padding: 8px;
	font-size: 48px;
	font-family: var(--script-font);
	color: var(--primary-color);
}

.groom_letter {
	top: 20%;
	left: 0;
	transform: translateX(-50%);
}

.bride_letter {
	bottom: 20%;
	right: 0;
	transform: translateX(50%);
}

.banner-name {
	font-size: 40px;
	font-family: var(--script-font);
	color: var(--primary-color);
}

.banner-date {
	font-size: 20px;
	font-family: var(--title-font);
	color: var(--primary-color);
	margin-top: 40px;
}

.location-name {
	font-size: 20px;
	font-family: var(--title-font);
	margin: 8px auto;
}

/* END BANNER */

/* ABOUT */

.section-about {
	position: relative;
}

.about-container {
	overflow: hidden;
}

.about-container {
	display: grid;
	row-gap: 40px;
}

.about-card {
	display: grid;
	row-gap: 24px;
}

.about-media {
	border-radius: 999px;
	overflow: hidden;
	aspect-ratio: 1/1.4;
}

.about-media img {
	transition: .5s;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.about-media:hover img {
	filter: none;
	-webkit-filter: none;
}

.about-data {
	display: grid;
	row-gap: 16px;
}

.about-data .title {
	font-family: var(--title-font);
	font-size: 24px;
	letter-spacing: 8px;
}

.about-data .bride_name,
.about-data .groom_name {
	font-family: var(--script-font);
	font-size: 32px;
	color: var(--primary-color);
}

.about-card .social-link {
	justify-content: start;
}

/* END ABOUT */

/* TIME LINE */

.time-line-section {
	position: relative;
	display: grid;
	justify-content: center;
	padding: 120px 0;
	margin-top: 80px;
	color: var(--text-white);
	z-index: 9;
}

.timeline-list {
	position: relative;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.timeline-item {
	display: grid;
	text-align: center;
	align-items: center;
	justify-items: center;
	max-width: 600px;
	gap: 12px;
}

.timeline-item::before {
	content: "";
	width: 1px;
	height: 60px;
	background-color: var(--text-white);
	border-radius: 999px;
}

.timeline-item:nth-child(1)::before {
	display: none;
}

.timeline-media {
	position: relative;
}

.timeline-media img {
	max-width: 60%;
	aspect-ratio: auto;
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 999px 999px 12px 12px;

}

.timeline-body {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.story-date {
	font-size: 32px;
	font-family: var(--title-font);
}

.timeline-body .title {
	font-size: 32px;
	font-family: var(--script-font);
}

/* ALBUM */

.section-album {
	position: relative;
	margin-bottom: 80px;
}

.album {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.album-item {
	border-radius: 8px;
	overflow: hidden;
}

.album-item img {
	transition: .3s;
	object-fit: cover;
	object-position: center;
	aspect-ratio: 1/1;
	width: 100%;
	height: 100%;
}

.album-item:hover img {
	transform: scale(1.2);
}

/* COUNTDOWN */

.section-countdown {
	position: relative;
	color: var(--text-white);
	text-align: center;
	min-height: 50vh;
	padding: 80px 0;
}

.countdown-title {
	font-size: 32px;
	font-family: var(--title-font);
}

.countdown {
	display: flex;
	row-gap: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

#countdown {
	display: flex;
	row-gap: 24px;
	justify-content: center;
	align-items: center;
}

#countdown ul {
	display: grid;
	grid-template-columns: repeat(2, 100%);
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#countdown li {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	list-style-type: none;
	padding: 8px;
	text-transform: uppercase;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.269);
	color: white;
	backdrop-filter: blur(4px);
}

#countdown li span {
	display: block;
	font-size: 24px;
	font-weight: 600;
	font-family: var(--title-font);
}

#content {
	display: none;
	padding: 1rem;
}

#content span {
	font-family: var(--script-font);
	font-size: 4rem;
	padding: 0 .5rem;
}

/* INVITATION */

#invitation {
	padding: 80px 0;
}

.invitation-container {
	margin-top: 40px;
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, 320px);
	justify-content: center;
	align-items: center;
}

.invitation-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 12px;
	background-color: var(--bg);
	border-radius: 12px;
	max-width: 100%;
	text-align: center;
}

.invitation-card img {
	max-width: 120px;
	aspect-ratio: 1/1;
	object-fit: cover;
	padding: 8px;
	background-color: var(--text-white);
	border-radius: 50%;
}

.card-title {
	font-size: var(--title-fs);
	font-family: var(--secondary-font);
}

.invitation-body {}

.invi_time {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 8px;
	margin-bottom: 12px;
}

.invi_group_time {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 8px;
}

.invi_date_number {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-color);
}

.invi_date_text,
.invi_year_text {
	border-top: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	padding: 4px 0;
}

.invi_amlich {
	font-style: italic;
	font-size: 14px;
}

/* BẢN ĐỒ */

/* END BẢN ĐỒ */

/* THANK YOU */

.section-thankyou {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: var(--text-white);
	text-align: center;
}

.thankyou-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.thankyou-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.thankyou-title {
	font-size: 64px;
	font-family: var(--script-font);
	line-height: 1.6;
}

.thankyou-des {
	text-align: center;
	margin-bottom: 40px;
}

/* END THANK YOU */

/* THANH BÊN PHẢI */

.right-fixed {
	position: fixed;
	bottom: 2vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	column-gap: 10px;
}

.right-fixed a {
	position: relative;
	padding: 8px !important;
}

.right-fixed a:hover::after {
	opacity: 0;
}

.right-fixed i {
	font-size: 16px;
	color: var(--text-black);
}

/* ====== END MAIN CSS ============ */

/* ------------------------------------------------------------------------- */

/* ====== RESPONSIVE ======= */

/* Small devices such as large phones (640px and up) */

@media only screen and (min-width: 640px) {
	.main-about {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;
	}
	.invitation {
		grid-template-columns: repeat(2, 1fr);
	}
	.right-fixed i {
		font-size: 24px;
	}
	.bg-bottom-left,
	.bg-top-right {
		max-width: 60%;
	}
}

/* Medium devices such as tablets (768px and up) */

@media only screen and (min-width: 48em) {
	.album {
		grid-template-columns: repeat(3, 1fr);
	}
	.thankyou-title {
		font-size: 44px;
	}
	.right-fixed {
		right: 3vw;
		left: auto;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		row-gap: 12px;
	}
	.about-card {
		grid-template-columns: repeat(2, 40% 60%);
		justify-items: center;
	}
	.about-data {
		margin-left: 80px;
		height: max-content;
		width: 70%;
		margin-top: 40px;
		font-size: 20px;
	}
	.about-card:nth-child(2) {
		grid-template-columns: repeat(2, 60% 40%);
	}
	.about-card:nth-child(2) .about-media {
		order: 1;
	}
	.about-card:nth-child(2) .about-data {
		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: auto;
		justify-content: left;
	}
}

/* Large devices such as laptops (1024px and up) */

@media only screen and (min-width: 64em) {
	.timeline-title {
		font-size: 32px;
	}
	#countdown li span {
		font-size: 40px;
	}
	.name-des {
		max-width: 70%;
	}
	.name .groom_name,
	.name .bride_name {
		font-size: 86px;
	}
	.section-title {
		font-size: 44px;
	}
}

/* Largest devices such as desktops (1280px and up) */

@media only screen and (min-width: 80em) {}


#text-2022170490 {
	text-align: center;
	color: rgb(132, 60, 12);
}

#text-2022170490 > * {
	color: rgb(132, 60, 12);
}

#section_505880188 {
	padding-top: 30px;
	padding-bottom: 30px;
}

#section_505880188 .section-bg.bg-loaded {
	background-image: url('images/v.png');
}

#section_505880188 .ux-shape-divider--top svg {
	height: 150px;
	--divider-top-width: 100%;
}

#section_505880188 .ux-shape-divider--bottom svg {
	height: 150px;
	--divider-width: 100%;
}
#text-4002182893 {
	text-align: center;
	color: rgb(132, 60, 12);
}

#text-4002182893 > * {
	color: rgb(132, 60, 12);
}

#text-2262756145 {
	color: rgb(132, 60, 12);
}
#text-2262756145 > * {
	color: rgb(132, 60, 12);
}

#section_1503110133 {
	padding-top: 30px;
	padding-bottom: 30px;
}
#section_1503110133 .section-bg-overlay {
	background-color: rgb(244, 226, 211);
}
#section_1503110133 .ux-shape-divider--top svg {
	height: 150px;
	--divider-top-width: 100%;
}

#section_1503110133 .ux-shape-divider--bottom svg {
	height: 150px;
	--divider-width: 100%;
}
#image_369531754 {
	width: 50%;
}
#image_899044715 {
	width: 70%;
}
#image_463804867 {
	width: 50%;
}

#section_945473266 {
	padding-top: 30px;
	padding-bottom: 30px;
}

#section_945473266 .section-bg.bg-loaded {
	background-image: url(images/7.png);
}

#section_945473266 .section-bg {
	background-position: 32% 12%;
}

#section_945473266 .ux-shape-divider--top svg {
	height: 150px;
	--divider-top-width: 100%;
}

#section_945473266 .ux-shape-divider--bottom svg {
	height: 150px;
	--divider-width: 100%;
}
@-webkit-keyframes snowflakes-fall {
	0% {
		top: -10%
	}
	100% {
		top: 100%
	}
}

@-webkit-keyframes snowflakes-shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	50% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px)
	}
}

@keyframes snowflakes-fall {
	0% {
		top: -10%
	}
	100% {
		top: 100%
	}
}

@keyframes snowflakes-shake {
	0%, 100% {
		transform: translateX(0)
	}
	50% {
		transform: translateX(80px)
	}
}

.snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-shadow: 0 0 5px #000;
	position: fixed;
	top: -10%;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: snowflakes-fall, snowflakes-shake;
	-webkit-animation-duration: 10s, 3s;
	-webkit-animation-timing-function: linear, ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running, running;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 1s, 1s;
	animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 6s, .5s;
	animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 6s, 2s;
	animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s, 1.5s;
	animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
	left: 25%;
	-webkit-animation-delay: 2s, 0s;
	animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
	left: 65%;
	-webkit-animation-delay: 4s, 2.5s;
	animation-delay: 4s, 2.5s
}
.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
	background-image: none !important;
}

@media screen and (max-height: 1024px) {
	.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
	.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
		background-image: none !important;
	}
}

@media screen and (max-height: 640px) {
	.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
	.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
		background-image: none !important;
	}
}

.love-story-title {
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	color: #c27a10;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	margin-bottom: 20px;
}